https://www.geeksforgeeks.org/destructors-in-python/?ref=lbp

https://www.geeksforgeeks.org/constructors-in-python/?ref=lbp

https://www.geeksforgeeks.org/python-classes-and-objects/?ref=lbp

https://www.geeksforgeeks.org/inheritance-in-python/

https://www.geeksforgeeks.org/python-super/

### Python iter() method

python iter() method returns the iterator object, it is used to convert an iterable to the iterator.

```
  Syntax : iter(obj, sentinel)

  Parameters : 

  - obj : Object which has to be converted to iterable ( usually an iterator ).
  - sentinel : value used to represent end of sequence.

  Returns : Iterator object
```
**Properties of Iterators:**

Iteration object remembers iteration count via internal count variable.
Once the iteration is complete, it raises a StopIteration exception and the iteration count cannot be reassigned to 0.
Therefore, it can be used to traverse the container just once.

### Example iterate list

In [ ]:
list1 = [1,2,3,4,5]

# Print type of iterator
print("The list is type of: " + str(type(list1)))

# Converting list using iter()
iter1 = iter(list1)

# Print type of iterator
print("The iterator is type of: " + str(type(iter1)))

# Using next() to print iterator values, the internal counter will auto increase

The list is type of: <class 'list'>
The iterator is type of: <class 'list_iterator'>

In [ ]:
next(iter1)

1

In [ ]:
next(iter1)

2

### Example2: Python iterate list with index

In [ ]:
list2 = [1,2,3,4,5]

iter2 = iter(list2) 

# print this
print('Values at 1st iteration: ')
for i in range(0,len(list2)):
  print(next(iter2))

# does not print this
print('Values at 2nd iteration: ')
for i in range(0,len(list2)):
  print(next(iter2))

Values at 1st iteration:
1
2
3
4
5
Values at 2nd iteration:

StopIteration: ignored

### Python map() method

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

**Syntax** :
```
map(fun, iter)
```
**Parameters** :
```
fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.
```
**NOTE** : You can pass one or more iterable to the map() function.

**Returns** : Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.) 
 
**NOTE** : The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

**CODE1**

In [ ]:
def addition(n):
  '''
  The function apply to each element of interator
  Arguments:
  n --- the number element
  Return:
  Sum of n and n
  '''
  return n + n

In [ ]:
# We double all number using map()

numbers = (1,2,3,4)

result = map(addition,numbers)

print(list(result))

[2, 4, 6, 8]

### CODE2 
you can also use lambda expressions

In [ ]:
numbers = (1,2,3,4)
result = map(lambda x: x+x,numbers)

print(list(result))

[2, 4, 6, 8]

### CODE3

In [ ]:
nums1 = [1,2,3,4,5]
nums2  = [10,20,30,40,50]

result = map(lambda x,y: x+ y,nums1,nums2)

print(list(result))

[11, 22, 33, 44, 55]

**CODE4:** listify element in a list

In [ ]:
l = ['sat','bat','cat','mat']
test = list(map(list,l)) # list function list each element in l
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

### *args and **kwargs in Python

In Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols

![image.png]()

Special Symbols Used for passing arguments:-

1.)*args (Non-Keyword Arguments)

2.)**kwargs (Keyword Arguments)

```
Note: “We use the “wildcard” or “*” notation like this – *args OR **kwargs – as our function’s argument when we have doubts about the number of  arguments we should pass in a function.” 
```

1.) *args

The special syntax *args in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-key worded, variable-length argument list. 

The syntax is to use the symbol * to take in a variable number of arguments; by convention, it is often used with the word args.
What *args allows you to do is take in more arguments than the number of formal arguments that you previously defined. With *args, any number of extra arguments can be tacked on to your current formal parameters (including zero extra arguments).
For example : we want to make a multiply function that takes any number of arguments and able to multiply them all together. It can be done using *args.
Using the *, the variable that we associate with the * becomes an iterable meaning you can do things like iterate over it, run some higher-order functions such as map and filter, etc.

In [ ]:
# Python program to illustrate
def myFun(*argv):
  for arg in argv:
    print(arg)

myFun('Hello','Welcome','to','GeekforGeeks')

Hello
Welcome
to
GeekforGeeks

In [ ]:
# *arg with the first extra
def myFun(arg1,*argv):
  print('First argument :',arg1)
  for arg in argv:
    print('Next argment through *argv :', arg) 
myFun('Hello','Wellcome','To','GeeksforGeeks')

First argument : Hello
Next argment through *argv : Wellcome
Next argment through *argv : To
Next argment through *argv : GeeksforGeeks

2.)**kwargs

The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

A keyword argument is where you provide a name to the variable as you pass it into the function.
One can think of the kwargs as being a dictionary that maps each keyword to the value that we pass alongside it. That is why when we iterate over the kwargs there doesn’t seem to be any order in which they were printed out.

In [ ]:
# Python program to illustate
# *kwargs for variable number of keyword arguments

def myFun(**kwargs):
  for key, value in kwargs.items():
    print("%s == %s" %(key,value))

# Driver code
myFun(fist = 'Geeks',mid = 'for',last = 'Geeks')

fist == Geeks
mid == for
last == Geeks

In [ ]:
# Using *args and **kwargs to call a function
def myFun(arg1,arg2,arg3):
  print('arg1:', arg1)
  print('arg2:', arg2)
  print('arg3:', arg3)

# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ('Geeks','for','Geeks')
myFun(*args)

kwargs = {'arg1':'Geeks','arg2':'for','arg3':'Geeks'}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks
arg1: Geeks
arg2: for
arg3: Geeks

In [ ]:
# Using *args and **kwargs in same line to call a function
def myFun(*args,**kwargs):
  print("args:",args)
  print("kwargs:",kwargs)

# Now we can use both *args, **kwargs
# to pass arguments to this function
myFun('geeks','for','geeks',first= 'Geeks',mid = 'for',last = 'Geeks')

args: ('geeks', 'for', 'geeks')
kwargs: {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

### Destructors in Python

Constructors in Python
Destructors are called when an object gets destroyed. In Python, destructors are not needed as much as in C++ because Python has a garbage collector that handles memory management automatically. 
The __del__() method is a known as a destructor method in Python. It is called when all references to the object have been deleted i.e when an object is garbage collected. 
Syntax of destructor declaration : 
```
def __del__(self):
  # body of destructor
```
Note : A reference to objects is also deleted when the object goes out of reference or when the program ends. 
Example 1 : Here is the simple example of destructor. By using del keyword we deleted the all references of object ‘obj’, therefore destructor invoked automatically.

In [ ]:
class Employee:
  # Initializing
  def __init__(self):
    print('Employee created')
  # Deleting Calling destructor
  def __del__(self):
    print('Destructor called, Employee deleted')

In [ ]:
obj = Employee()

Employee created

In [ ]:
obj

In [ ]:
del obj

In [ ]:
obj

NameError: ignored

Note : The destructor was called after the program ended or when all the references to object are deleted i.e when the reference count becomes zero, not when object went out of scope.
Example 2 :This example gives the explanation of above mentioned note. Here, notice that the destructor is called after the ‘Program End…’ printed.

In [ ]:
# Python program to illustrate destructor
 
class Employee:
 
    # Initializing
    def __init__(self):
        print('Employee created')
 
    # Calling destructor
    def __del__(self):
        print("Destructor called")
 
def Create_obj():
    print('Making Object...')
    obj = Employee()
    print('function end...')
    return obj
 
print('Calling Create_obj() function...')
obj = Create_obj()
print('Program End...')

Calling Create_obj() function...
Making Object...
Employee created
function end...
Program End...

In [ ]:
obj

In [ ]:
class A:
  def __init__(self,bb):
    self.b = bb 

class B:
  def __init__(self):
    self.a = A(self)
  def __del__(self):
    print('die')

def fun():
  b = B()

fun()

Constructors in Python
Difficulty Level : Easy
Last Updated : 10 Aug, 2021
Prerequisites: Object-Oriented Programming in Python, Object-Oriented Programming in Python | Set 2 
Constructors are generally used for instantiating an object. The task of constructors is to initialize(assign values) to the data members of the class when an object of the class is created. In Python the __init__() method is called the constructor and is always called when an object is created.
Syntax of constructor declaration : 

def __init__(self):
    # body of the constructor
Types of constructors : 

default constructor: The default constructor is a simple constructor which doesn’t accept any arguments. Its definition has only one argument which is a reference to the instance being constructed.
parameterized constructor: constructor with parameters is known as parameterized constructor. The parameterized constructor takes its first argument as a reference to the instance being constructed known as self and the rest of the arguments are provided by the programmer.
Example of default constructor :

In [ ]:
class GeekforGeeks:
 
    # default constructor
    def __init__(self):
        self.geek = "GeekforGeeks"
 
    # a method for printing data members
    def print_Geek(self):
        print(self.geek)
 
 
# creating object of the class
obj = GeekforGeeks()
 
# calling the instance method using the object obj
obj.print_Geek()

GeekforGeeks
Destructor called

Example of the parameterized constructor :

In [ ]:
class Addition:
    first = 0
    second = 0
    answer = 0
     
    # parameterized constructor
    def __init__(self, f, s):
        self.first = f
        self.second = s
     
    def display(self):
        print("First number = " + str(self.first))
        print("Second number = " + str(self.second))
        print("Addition of two numbers = " + str(self.answer))
 
    def calculate(self):
        self.answer = self.first + self.second
 
# creating object of the class
# this will invoke parameterized constructor
obj = Addition(1000, 2000)
 
# perform Addition
obj.calculate()
 
# display result
obj.display()

First number = 1000
Second number = 2000
Addition of two numbers = 3000

### Inheritance in Python

In [ ]:
# A python program to demonstrate inheritance 
# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is
# equivalent to "class Person(object)"

class Person(object):
  # Constructor
  def __init__(self,name):
    self.name = name 
  # To get name
  def getName(self):
    return self.name 
  # To check if this person is an employee
  def isEmployee(self):
    return False

# Inherited or Subclass (Note person in bracket)
class Employee(Person):
  # Here is we turn is employee = True
  def isEmployee(self):
    return True

In [ ]:
# Drive code
emp1 = Person('Greek1') # An object
print('emp1 Person name: ',emp1.getName(),'emp1 is employee: ',emp1.isEmployee())
emp2 = Employee('Greek2') # An object
print('emp2 Person name: ',emp2.getName(),'emp2 is employee: ',emp2.isEmployee())

emp1 Person name:  Greek1 emp1 is employee:  False
emp2 Person name:  Greek2 emp2 is employee:  True

What is object class? 
Like Java Object class, in Python (from version 3.x), object is root of all classes. 

In Python 3.x, “class Test(object)” and “class Test” are same. 
In Python 2.x, “class Test(object)” creates a class with object as parent (called new style class) and “class Test” creates old style class (without object parent). Refer this for more details.

Subclassing (Calling constructor of parent class) 
A child class needs to identify which class is its parent class. This can be done by mentioning the parent class name in the definition of the child class. 
Eg: class subclass_name (superclass_name): 

_ _ _ 

_ _ _

In [ ]:
# Python code to demonstrate how parent constructors
# are called

# parent Class
class Person(object):
  # __init__
  def __init__(self,name,idnumber):
    self.name = name
    self.idnumber = idnumber
  def display(self):
    print(f'Person name {self.name}')
    print(f'Person idnumber {self.idnumber}')

# child class
class Employee(Person):
  def __init__(self,name,idnumber,salary,post):
    self.salary = salary
    self.post = post 
    # invoking the __init__ of parent class
    Person.__init__(self,name,idnumber) 

# creation of an object variable or an instance
a = Employee('Rahul',886012,200000,'Intern')

# Calling a function of the class Person using its instance
a.display()
dir(a)

Person name Rahul
Person idnumber 886012

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'display',
 'idnumber',
 'name',
 'post',
 'salary']

In [ ]:
# Python invoke __init__() of the parent
class A:
  def __init__(self,n = 'Rahul'):
    self.name = n 

class B(A):
  def __init__(self,roll):
    self.roll = roll 

object = B(23)
print(object.name)

AttributeError: ignored

Different forms of Inheritance: 
1. Single inheritance: When a child class inherits from only one parent class, it is called single inheritance. We saw an example above.
2. Multiple inheritance: When a child class inherits from multiple parent classes, it is called multiple inheritance. 

Unlike java, python shows multiple inheritance.

In [ ]:
# Python example to show the working of multiple
# inheritance
class Base1(object):
  def __init__(self):
    self.str1 = 'Geek1'
    print('Base1')

class Base2(object):
  def __init__(self):
    self.str2 = 'Geek2'
    print('Base2')

class Derived(Base1,Base2):
  def __init__(self):
    # Calling constructors of Base1 and Base2 classes
    Base1.__init__(self)
    Base2.__init__(self)
    print('Derived')
  
  def printStrs(self):
    print(self.str1,self.str2)

ob = Derived()
ob.printStrs()

TypeError: ignored

In [4]:
# Python2
# Python example to show the working of multiple
# inheritance
class Base1(object):
	def __init__(self):
		self.str1 = "Geek1"
		print("Base1")

class Base2(object):
	def __init__(self):
		self.str2 = "Geek2"	
		print("Base2")

class Derived(Base1, Base2):
	def __init__(self):
		
		# Calling constructors of Base1
		# and Base2 classes
		Base1.__init__(self)
		Base2.__init__(self)
		print("Derived")
		
	def printStrs(self):
		print(self.str1, self.str2)
		
ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Geek1 Geek2

In [2]:
# Python3
class Base(object):
  # Constructor
  def __init__(self,name):
    self.name = name 
  # To get name
  def getName(self):
    return self.name 

# Inheritated or Sub class (Note Person in bracket)
class Child(Base):
  # Constructor
  def __init__(self,name,age):
    Base.__init__(self,name)
    self.age = age 
  # To get name
  def getAge(self):
    return self.age 
  
# Inherited or Sub class (Note Person in bracket)
class GrandChild(Child):
  # Constructor
  def __init__(self,name,age,address):
    Child.__init__(self,name,age)
    self.address = address
  # To get address
  def getAdress(self):
    return self.address

# Driver code
g = GrandChild('Geek1',23,'Noida')

print(g.getName(),g.getAge(),g.getAdress())

Geek1 23 Noida

In [3]:
# A Python program to demonstrate inheritance

# Base or Super class. Note object in bracket.
# (Generally, object is made ancestor of all classes)
# In Python 3.x "class Person" is
# equivalent to "class Person(object)"
class Base(object):
	
	# Constructor
	def __init__(self, name):
		self.name = name

	# To get name
	def getName(self):
		return self.name

# Inherited or Sub class (Note Person in bracket)
class Child(Base):
	
	# Constructor
	def __init__(self, name, age):
		Base.__init__(self, name)
		self.age = age

	# To get name
	def getAge(self):
		return self.age

# Inherited or Sub class (Note Person in bracket)
class GrandChild(Child):
	
	# Constructor
	def __init__(self, name, age, address):
		Child.__init__(self, name, age)
		self.address = address

	# To get address
	def getAddress(self):
		return self.address	

# Driver code
g = GrandChild("Geek1", 23, "Noida")
print(g.getName(), g.getAge(), g.getAddress())

Geek1 23 Noida

4. Hierarchical inheritance More than one derived classes are created from a single base.
5. Hybrid inheritance: This form combines more than one form of inheritance. Basically, it is a blend of more than one type of inheritance.
Private members of parent class 
We don’t always want the instance variables of the parent class to be inherited by the child class i.e. we can make some of the instance variables of the parent class private, which won’t be available to the child class. 
We can make an instance variable by adding double underscores before its name. For example,

In [5]:
# Python program to demonstrate private members
# of the parent class

class C(object):
  def __init__(self):
    self.c = 21 # this is a public instance variable 
    self.__d = 42 # this is a private instance variable, the "__" before name of variable

class D(C):
  def __init__(self):
    self.e = 84
    C.__init__(self)

object1 = D()
#produces an error as d is private instance variable
print(object1.d)

AttributeError: ignored

### Python super()

Python super()
Difficulty Level : Easy
Last Updated : 07 Feb, 2022
One of the important OOP features is `Inheritance in Python`. When a class inherits some or all of the behaviors from another class is known as Inheritance. In such a case, the inherited class is the subclass and the latter class is the parent class. 
In an inherited subclass, a parent class can be referred to with the use of the `super()` function. The super function returns a temporary object of the superclass that allows access to all of its methods to its child class.

**Note**: For more information, refer to `Inheritance in Python`

Furthermore, The benefits of using a super function are:-  

- Need not remember or specify the parent class name to access its methods. This function can be used both in single and multiple inheritances.Meaning if your class inheritanced from multi class you don't have to rememeber which parent have the called function

- This implements modularity (isolating changes) and code reusability as there is no need to rewrite the entire function.

- Super function in Python is called dynamically because Python is a dynamic language unlike other languages.

There are 3 constraints to use the super function:-  

- The class and its methods which are referred by the super function

- The arguments of the super function and the called function should match.

- Every occurrence of the method must include super() after you use it.
Super function in single inheritance 

Example: Let’s take an example of animals. Dogs, cats and cows are part of animals. They also share common characteristics like –  

They are mammals.
They have a tail and four legs.
They are domestic animals.
So, the classes dogs, cats and horses are subclass of animal class. This is an example of single inheritance because many subclass are inherited from a single parent class.

In [8]:
# Python program to demonstrate
# super function
class Animals:
  # Initializing constructor
  def __init__(self):
    self.legs = 4
    self.domestic = True
    self.tail = True
    self.mammals = True
  # Check mammal
  def isMammal(self):
    if self.mammals:
      print('It is a mammal.')
  # Check domestic 
  def isDomestic(self):
    if self.domestic:
      print('It is a domestic animal.')

class Dogs(Animals): # Dogs animal inherits the Animals class
  def __init__(self):
    super().__init__() # this function can use with single or multiple inheritances
  def isMammal(self): # the called function referred by the super function
    super().isMammal() 

class Horses(Animals):
  def __init__(self):
    super().__init__() 
  def hasTailandLegs(self):
    if self.tail and self.legs == 4:
      print('Has legs and tail')

# Driver code 
Tom = Dogs()
Tom.isMammal()
Bruno = Horses()
Bruno.isDomestic()
Bruno.hasTailandLegs()

It is a mammal.
It is a domestic animal.
Has legs and tail

In [9]:
class Mammal():
  # Constructor
  def __init__(self,name):
    print(name,"Is a mammal")

class canFly(Mammal):
  # Constructor 
  def __init__(self,canFly_name):
    print(canFly_name,"cannot fly")
    # Calling parent class 
    # Constructor
    super().__init__(canFly_name)

class canSwim(Mammal):
  # Constuctor 
  def __init__(self,canSwim_name):
    print(canSwim_name,'cannot swim')
    super().__init__(canSwim_name)

class Animal(canFly,canSwim):
  def __init__(self,name):
    # Calling the constructor
    # of both the parent
    # class in order of
    # their inheritance
    super().__init__(name)

# Driver Code 
Carol = Animal("Dog")

Dog cannot fly
Dog cannot swim
Dog Is a mammal